*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(150deg,#d299c2,#fef9d7);
    overflow: hidden;
}
.container{
    width: 200px;
    height: 200px;
    position: relative;
}
.balloon{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at 75% 30%,#ffffff 5px,#ff21c0 8%,#5b5b5b 60%,#ff21c0 100%);
    box-shadow: inset 0 0 20px #ffffff,
                inset 10px 0 46px #eaf5fc,
                inset 80px 0 60px #efcde6,
                inset -20px -60px 100px #f9f6de,
                inset 0 50px 140px #f9f6de,
                0 0 90px #ffffff;
    animation: animate 4s ease-in-out infinite;
}
.shadow{
    position: absolute;
    width: 150px;
    height: 40px;
    background: rgba(0,0,0,0.15);
    border-radius: 50%;
    filter: blur(1px);
    left: 50%;
    /*不能用平移，动画的移动会抵消这个*/
    /*transform: translateX(-50%);*/
    margin-left: -75px;
    bottom: -100px;
    animation: shadow 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-80px);
    }
}
@keyframes shadow {
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}